.styled-header {
    padding: 20px;
    text-align: center;
}

.styled-paragraph {
    color: black;
    background-color: lightgray;
}

#container {
    width: 20vw;
    height: 20vh;
    border: 2px solid #000;
    background-color: blueviolet;
    /* position: relative; */
 
}

